.main {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows:  200px 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    width: 200px;
    height: 200px;
    transition: background-color 0.1s;
}